@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="float-inner white-background">
    <div class="welcome-page">
        <br />&nbsp;<br />
        <div class="row">
            <div class="col-sm-10">
                <h1>
                    <img class="icon" src="~/icon.jpg">
                    Welcome to IdentityServer4
                    <small>(version @version) </small>
                    <small><i>used and customized by A3S</i></small>
                </h1>
            </div>
        </div>

        <hr class="black-border" />

        <div class="row">
            <div class="left-align">
                <p>
                    IdentityServer publishes a
                    <a href="~/.well-known/openid-configuration" class="underline-anchor">discovery document</a>
                    where you can find metadata and links to all the endpoints, key material, etc.
                </p>
                <p>
                    Click <a href="~/grants" class="underline-anchor">here</a> to manage your stored grants.
                </p>
                <p>
                    Access the A3S documentation <a href="https://github.com/GrindrodBank/A3S/blob/master/README.md" class="underline-anchor">here</a>.
                </p>
            </div>
        </div>
    </div>
</div>