@model ResetRecoveryCodesModel

<div class="float-inner login-float-inner white-background">
    <br />&nbsp;<br />
    <div><img src="~/img/a3s.svg" class="a3s-small-logo" /></div>
    <h2>
        Recovery Codes Regenerated
    </h2>
    <p>Your one-time recovery codes have been regenerated.</p>
    <br />
    <partial name="_2FABackupCodesDisplay" model="Model.RecoveryCodes" />

    <br />

    <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@Model.RedirectUrl" />
    <button class="spoon-btn-primary" name="btnReturn" id="btnReturn" value="btnReturn">Return</button>
    <input type="hidden" name="ReturnTo2FAUrl" id="ReturnTo2FAUrl" value="@Url.Action("Register2FA", new { redirectUrl = Model.RedirectUrl })" />
    <br />&nbsp;<br />
</div>

@section scripts {
    <script type="text/javascript" src="~/js/reset-recovery-codes.js"></script>
}
