@model LogoutViewModel

<div class="float-inner login-float-inner white-background">
    <br />&nbsp;<br />
    <div><img src="~/img/a3s.svg" class="a3s-small-logo" /></div>
    <h2>Logout</h2>

    <p>Would you like to logout of IdentityServer?</p>
    <br />

    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
        <fieldset>
            <div class="form-group">
                <button class="btn btn-primary">Yes</button>
            </div>
        </fieldset>
    </form>

    <br />
</div>