@model RegisterTwoFactorAuthenticatorCompleteViewModel

    <div class="float-inner login-float-inner white-background">
        <br />&nbsp;<br />
        <div><img src="~/img/a3s.svg" class="a3s-small-logo" /></div>
        <h2>
            Authenticator App Registration<br />Complete
        </h2>

        <div class="white-box">
            <p>Your two-factor authenticator app has now successfully been registered, and two-factor authentication has been switched on for your profile.</p>
            <br />
            <partial name="_2FABackupCodesDisplay" model="Model.RecoveryCodes" />

            <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@Model.RedirectUrl" />

            <br />
            <button class="spoon-btn-primary" name="btnContinueWithRedirect" id="btnContinueWithRedirect" value="btnContinueWithRedirect">Continue</button>
        </div>
    </div>

    @section scripts {
        <script type="text/javascript" src="~/js/register-2fa-authenticator-complete.js"></script>
    }
