@model TwoFactorViewModel

    <div class="float-inner login-float-inner fifty-percent-alpha-background">
        <br />&nbsp;<br />


        <div><img src="~/img/additional-logo.svg" class="additional-logo" /></div>
        <br />
        <div><img src="~/img/a3s.png" class="a3s-big-logo" /></div>
        <div class="a3s-title">Powered by <span>A3S</span></div>
        <br />&nbsp;<br />

        @if (ViewContext.ModelState.IsValid == false)
        {
            <div class="alert alert-danger alert-dismissible login-screen-control show">
                <button type="button" class="close" aria-label="Close">
                    <img class="icons-general-blue-add" src="~/img/add_blue.svg" />
                </button>
                <div class="a3s-row">
                    <div class="alert-box-icon"><img src="~/img/alert.svg" /></div>
                    <div class="alert-text" asp-validation-summary="All"></div>
                </div>
            </div>
        }

        <h3>Your two-factor code is required:</h3>

        <form asp-action="Verify2FAAuthenticator">
            <input type="hidden" asp-for="RedirectUrl" />
            <input type="hidden" asp-for="Username" />

            <fieldset>
                <div class="form-group">
                    <input class="form-control login-screen-control" placeholder="OTP" asp-for="OTP" autofocus>
                </div>

                <div class="form-group login-remember">
                    <label asp-for="IsRecoveryCode">
                        <input asp-for="IsRecoveryCode">
                        <strong>Use Recovery Code</strong>
                    </label>
                </div>

                <button class="spoon-btn-primary" name="button" value="validate">Validate OTP</button>
            </fieldset>
            <br />
            <button class="spoon-btn" name="button" value="cancel">Cancel</button>
        </form>

        <br />&nbsp;<br />
    </div>

@section scripts {
    <script type="text/javascript" src="~/js/verify-2fa.js"></script>
}
